* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

aside {
  background-color: blue;
  width: 12rem;
  min-height: 100vh;
  position: fixed;
  border-right: 2px solid limegreen;
}

.avatar {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid limegreen;
  width: 120px;
  height: 120px;
}

.nav_logo {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.header {
  display: flex;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #333;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.nav_lista {
  list-style: none;
  display: block;
  align-items: center;
}

li {
  margin: 1rem;
}

a {
  margin: 1rem;
  color: #fff;
}

a:hover {
  color: limegreen;
}

.main_container {
  margin-left: 1.2rem;
}

section {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin-top: 1rem;
  color: #000;
}

#home {
  background-color: lightslategray;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 3rem;
}

#about {
  background-color: #fff;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

#gallery {
  background-color: lightslategray;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

#contact {
  background-color: #fff;
  border-top-left-radius: 5rem;
}

.btn {
  background-color: orange;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.active {
  transform: translate(0%);
}

footer {
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  padding: 1rem;
  width: 12rem;
  border-right: 2px solid limegreen;
}

.copyright {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text_about {
  max-width: 90%;
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: aqua;
}

@media (min-width: 375px) and (max-width: 687px) {
  aside {
    background-color: #333;
    border: 2px solid orange;
    transform: translate(-250px);
  }
  footer {
    width: 100%;
    background-color: orange;
    border: none;
    position: fixed;
  }

  .copyright {
    color: #fff;
  }
  .banner {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .main_container {
    margin-left: 0;
  }
  .btn {
    display: flex;
    position: fixed;
  }
  .nav {
    background-color: orange;
  }
  li {
    margin: 1.2rem;
  }
  a:hover {
    color: #333;
  }
  .avatar {
    border: 2px solid orange;
  }
  body {
    background-color: orange;
  }
  h1 {
    margin-top: 1rem;
    color: orange;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text_about {
    max-width: 70%;
    text-align: center;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card {
    margin-bottom: 2rem;
  }
  .champions {
    border-radius: 15px;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 130px;
    height: 130px;
    box-shadow: 0 1px 2px gray;
  }
  .card p {
    text-align: center;
    max-width: 90%;
    line-height: 2rem;
    color: #fff;
    padding-left: 2rem;
  }
  .champion_title {
    margin-bottom: 2rem;
  }
  span {
    color: orange;
  }
}
